<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function(){
  			$('a#process_input').bind('click',function(){
  				$.getJSON('/background_process',{
  					proglang:$('input[name="proglang"]').val(),
  				},function(data){
  					$("#result").text(data.result);
  				});
  				return false;
  			});
		});
	</script>
</head>

<body class="body">
	<div>

			<h2>Disease Predictor</h2>
			<input type=text size=20 list="suggest" name=proglang>
<datalist id="suggest"> 
   <option value="angina pectoris">
   <option value="palpitation">
   <option value="pain chest">
   <option value="pressure chest">
   <option value="shortness of breath">
   <option value="dizziness">
   <option value="sweating increased">
   <option value="sweat">
   <option value="vertigo">
   <option value="asthenia">
   <option value="fall">
   <option value="nausea">
   <option value="syncope">
   <option value="mental status changes">
   <option value="polyuria">
   <option value="orthopnea">
   <option value="unresponsiveness">
   <option value="polydypsia">
   <option value="rale">
   <option value="vomiting">
   <option value="labored breathing">
   <option value="worry">
   <option value="suicidal">
   <option value="weepiness">
   <option value="intoxication">
   <option value="irritable mood">
   <option value="verbal auditory hallucinations">
   <option value="tremor">
   <option value="feeling suicidal">
   <option value="hallucinations auditory">
   <option value="mood depressed">
   <option value="sleeplessness">
   <option value="difficulty">
   <option value="unable to concentrate">
   <option value="agitation">
   <option value="feeling hopeless">
   <option value="energy increased">
   <option value="blackout">
   <option value="hallucinations visual">
   <option value="homelessness">
   <option value="nightmare">
   <option value="motor retardation">
   <option value="hypokinesia">
   <option value="dyspnea on exertion">
   <option value="chest tightness">
   <option value="productive cough">
   <option value="distress respiratory">
   <option value="pleuritic pain">
   <option value="green sputum">
   <option value="rhonchus">
   <option value="decreased translucency">
   <option value="breath sounds decreased">
   <option value="chill">
   <option value="tachypnea">
   <option value="malaise">
   <option value="fever">
   <option value="cough">
   <option value="wheezing">
   <option value="non-productive cough">
   <option value="night sweat">
   <option value="haemoptysis">
   <option value="yellow sputum">
   <option value="jugular venous distention">
   <option value="dyspnea">
   <option value="numbness">
   <option value="seizure">
   <option value="speech slurred">
   <option value="dysarthria">
   <option value="hemiplegia">
   <option value="facial paresis">
   <option value="symptom aggravating factors">
   <option value="t wave inverted">
   <option value="st segment depression">
   <option value="st segment elevation">
   <option value="chest discomfort">
   <option value="bradycardia">
   <option value="presence of q wave">
   <option value="pain">
   <option value="nonsmoker">
   <option value="diarrhea">
   <option value="erythema">
   <option value="apyrexial">
   <option value="pruritus">
   <option value="swelling">
   <option value="abscess bacterial">
   <option value="hepatosplenomegaly">
   <option value="hyponatremia">
   <option value="renal angle tenderness">
   <option value="difficulty passing urine">
   <option value="hematuria">
   <option value="consciousness clear">
   <option value="hemodynamically stable">
   <option value="dysuria">
   <option value="lethargy">
   <option value="guaiac positive">
   <option value="haemorrhage">
   <option value="tumor cell invasion">
   <option value="arthralgia">
   <option value="orthostasis">
   <option value="heme positive">
   <option value="monoclonal">
   <option value="fatigue">
   <option value="pain back">
   <option value="pallor">
   <option value="ecchymosis">
   <option value="transaminitis">
   <option value="hypoxemia">
   <option value="sputum purulent">
   <option value="hypercapnia">
   <option value="patient non compliance">
   <option value="abdominal tenderness">
   <option value="unsteady gait">
   <option value="bedridden">
   <option value="unconscious state">
   <option value="ascites">
   <option value="urgency of micturition">
   <option value="hypotension">
   <option value="hyperkalemia">
   <option value="enuresis">
   <option value="muscle twitch">
   <option value="sleepy">
   <option value="headache">
   <option value="lightheadedness">
   <option value="asterixis">
   <option value="food intolerance">
   <option value="drowsiness">
   <option value="numbness of hand">
   <option value="general discomfort">
   <option value="stiffness">
   <option value="tired">
   <option value="mass of body structure">
   <option value="prostatism">
   <option value="weight gain">
   <option value="nervousness">
   <option value="has religious belief">
   <option value="hot flush">
   <option value="formication">
   <option value="emphysematous change">
   <option value="lesion">
   <option value="thicken">
   <option value="cushingoid habitus">
   <option value="cushingoid facies">
   <option value="decreased body weight">
   <option value="hoarseness">
   <option value="">
   <option value="hypotonic">
   <option value="spontaneous rupture of membranes">
   <option value="muscle hypotonia">
   <option value="sore to touch">
   <option value="redness">
   <option value="hyperacusis">
   <option value="scratch marks">
   <option value="hypesthesia">
   <option value="satiety early">
   <option value="sensory discomfort">
   <option value="throbbing sensation quality">
   <option value="constipation">
   <option value="pain abdominal">
   <option value="heartburn">
   <option value="burning sensation">
   <option value="cyanosis">
   <option value="breech presentation">
   <option value="cardiomegaly">
   <option value="clonus">
   <option value="pain in lower limb">
   <option value="history of - blackout">
   <option value="anorexia">
   <option value="unwell">
   <option value="anosmia">
   <option value="metastatic lesion">
   <option value="hemianopsia homonymous">
   <option value="neck stiffness">
   <option value="hematocrit decreased">
   <option value="cicatrisation">
   <option value="gurgle">
   <option value="aura">
   <option value="wheelchair bound">
   <option value="myoclonus">
   <option value="hypometabolism">
   <option value="left atrial hypertrophy">
   <option value="oliguria">
   <option value="catatonia">
   <option value="paresthesia">
   <option value="gravida 0">
   <option value="lung nodule">
   <option value="unhappy">
   <option value="distended abdomen">
   <option value="ache">
   <option value="heavy feeling">
   <option value="macerated skin">
   <option value="sinus rhythm">
   <option value="rest pain">
   <option value="behavior hyperactive">
   <option value="terrify">
   <option value="withdraw">
   <option value="photopsia">
   <option value="giddy mood">
   <option value="exhaustion">
   <option value="hyperhidrosis disorder">
   <option value="loose associations">
   <option value="hypersomnia">
   <option value="extrapyramidal sign">
   <option value="mydriasis">
   <option value="disturbed family">
   <option value="overweight">
   <option value="systolic murmur">
   <option value="r wave feature">
   <option value="snore">
   <option value="asymptomatic">
   <option value="bleeding of vagina">
   <option value="splenomegaly">
   <option value="photophobia">
   <option value="painful swallowing">
   <option value="macule">
   <option value="cachexia">
   <option value="hypothermia, natural">
   <option value="hypocalcemia result">
   <option value="general unsteadiness">
   <option value="atypia">
   <option value="hacking cough">
   <option value="snuffle">
   <option value="stridor">
   <option value="throat sore">
   <option value="stinging sensation">
   <option value="Stahli's line">
   <option value="fremitus">
   <option value="paralyse">
   <option value="abnormal sensation">
   <option value="aphagia">
   <option value="focal seizures">
   <option value="stupor">
   <option value="paresis">
   <option value="sniffle">
   <option value="bradykinesia">
   <option value="urge incontinence">
   <option value="out of breath">
   <option value="hirsutism">
   <option value="rambling speech">
   <option value="clumsiness">
   <option value="room spinning">
   <option value="vision blurred">
   <option value="scar tissue">
   <option value="decreased stool caliber">
   <option value="hematochezia">
   <option value="egophony">
   <option value="neologism">
   <option value="decompensation">
   <option value="stool color yellow">
   <option value="rigor - temperature-associated observation">
   <option value="paraparesis">
   <option value="fear of falling">
   <option value="spasm">
   <option value="moody">
   <option value="posturing">
   <option value="hyperventilation">
   <option value="gag">
   <option value="excruciating pain">
   <option value="pulse absent">
   <option value="dysesthesia">
   <option value="passed stones">
   <option value="ataxia">
   <option value="polymyalgia">
   <option value="qt interval prolonged">
   <option value="Heberden's node">
   <option value="hepatomegaly">
   <option value="sciatica">
   <option value="frothy sputum">
   <option value="estrogen use">
   <option value="retropulsion">
   <option value="mass in breast">
   <option value="hypersomnolence">
   <option value="underweight">
   <option value="colic abdominal">
   <option value="red blotches">
   <option value="dullness">
   <option value="hypokalemia">
   <option value="hunger">
   <option value="urinary hesitation">
   <option value="prostate tender">
   <option value="pain foot">
   <option value="disequilibrium">
   <option value="pustule">
   <option value="flushing">
   <option value="urinoma">
   <option value="indifferent mood">
   <option value="hypoalbuminemia">
   <option value="no status change">
   <option value="extreme exhaustion">
   <option value="slowing of urinary stream">
   <option value="breakthrough pain">
   <option value="systolic ejection murmur">
   <option value="pansystolic murmur">
   <option value="cystic lesion">
   <option value="barking cough">
   <option value="stuffy nose">
   <option value="frail">
   <option value="rapid shallow breathing">
   <option value="noisy respiration">
   <option value="nasal discharge present">
   <option value="projectile vomiting">
   <option value="heavy legs">
   <option value="dysdiadochokinesia">
   <option value="achalasia">
   <option value="side pain">
   <option value="titubation">
   <option value="posterior rhinorrhea">
   <option value="monocytosis">
   <option value="claudication">
   <option value="lameness">
   <option value="clammy skin">
   <option value="incoherent">
   <option value="mediastinal shift">
   <option value="awakening early">
   <option value="tenesmus">
   <option value="nausea and vomiting">
   <option value="fecaluria">
   <option value="pneumatouria">
   <option value="alcoholic withdrawal symptoms">
   <option value="todd paralysis">
   <option value="dyspareunia">
   <option value="floppy">
   <option value="poor dentition">
   <option value="myalgia">
   <option value="inappropriate affect">
   <option value="moan">
   <option value="poor feeding">
   <option value="welt">
   <option value="hydropneumothorax">
   <option value="tinnitus">
   <option value="superimposition">
   <option value="feeling strange">
   <option value="tonic seizures">
   <option value="debilitation">
   <option value="absences finding">
   <option value="uncoordination">
   <option value="impaired cognition">
   <option value="drool">
   <option value="tremor resting">
   <option value="groggy">
   <option value="pin-point pupils">
   <option value="adverse effect">
   <option value="adverse reaction">
   <option value="abdominal bloating">
   <option value="fatigability">
   <option value="proteinemia">
   <option value="abnormally hard consistency">
   <option value="intermenstrual heavy bleeding">
   <option value="abortion">
   <option value="primigravida">
   <option value="previous pregnancies 2">
   <option value="para 2">
   <option value="pain neck">
   <option value="shooting pain">
   <option value="hyperemesis">
   <option value="dizzy spells">
   <option value="regurgitates after swallowing">
   <option value="milky">
   <option value="phonophobia">
   <option value="rolling of eyes">
   <option value="ambidexterity">
   <option value="lip smacking">
   <option value="gravida 10">
   <option value="pulsus paradoxus">
   <option value="bruit">
   <option value="scleral icterus">
   <option value="retch">
   <option value="breath-holding spell">
   <option value="verbally abusive behavior">
   <option value="blanch">
   <option value="elation">
   <option value="transsexual">
   <option value="behavior showing increased motor activity">
   <option value="coordination abnormal">
   <option value="choke">
   <option value="bowel sounds decreased">
   <option value="no known drug allergies">
   <option value="low back pain">
   <option value="charleyhorse">
   <option value="sedentary">
   <option value="feels hot/feverish">
   <option value="nan">
   <option value="flare">
   <option value="pericardial friction rub">
   <option value="hoard">
   <option value="panic">
   <option value="cardiovascular finding">
   <option value="soft tissue swelling">
   <option value="cardiovascular event">
   <option value="rhd positive">
   <option value="para 1">
   <option value="sneeze">
   <option value="nasal flaring">
   <option value="hypertonicity">
   <option value="gasping for breath">
   <option value="flatulence">
   <option value="Murphy's sign">
   <option value="feces in rectum">
   <option value="prodrome">
   <option value="hypoproteinemia">
   <option value="alcohol binge episode">
   <option value="abdomen acute">
   <option value="catching breath">
   <option value="air fluid level">
   <option value="large-for-dates fetus">
   <option value="immobile">
   <option value="homicidal thoughts">
</datalist>
			<a href="#" id=process_input><button>Submit</button></a>

		<p id=result></p>
	</div>
</body>

</html>
